//A. VARIABLES

//1. Colors
$lightcream: #FDE3D4;
$mediumcream: #FBD0B8;
$lightpink: #F1AAB4;
$darkpink: #B884A3;
$darkpurple: #707390;
$mediumpurple: #A6ACC0;

//B. RESET
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  body {
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #707390, #9080a1, #b28dac, #d39ab3, #f1aab4);
    height:100vh;
    align-items: center;
    padding:5%;
    position:relative;
    
    header {
      font-variant: small-caps;
      color:$darkpurple;
      border: 2px solid $darkpurple;
      background-color: $lightcream;
      font-size:1rem;
      line-height:1.8rem;
      text-align:center;
      width: 80%;
      margin-bottom:5%;
      padding:2%;
    }

    main {
      width: 80%;

      .todolist {
        border: 2px solid $darkpurple;
        background-color: $lightcream;
        margin-bottom:5%;
        padding:2%;

        h2 {
          font-size:1.2rem;
          text-align:center;
          color:$darkpurple;
        }
      }

      .addtasks {
        border: 2px solid $darkpurple;
        background-color: $lightcream;
        margin-bottom:5%;
        padding:2%;

        h2 {
          font-size:1.2rem;
          text-align:center;
          color:$darkpurple;
        }
      }
    }

    footer {
      width: 80%;
      position:absolute;
      bottom:2%;
      text-align:center;
    }
  }
